# Nomba API credentials (from your hackathon email)
NOMBA_PARENT_ACCOUNT_ID=f666ef9b-888e-4799-85ce-acb505b28023
NOMBA_SUB_ACCOUNT_ID=b76e2955-8376-46b0-8f34-7e70e3f31261
NOMBA_CLIENT_ID=706df6c4-b8bb-4130-88c4-d21b052f8631
NOMBA_PRIVATE_KEY=k8UobYk3APgOoxUnNL7VpuxzwTsH4LsXtydfjcHs8RH0YISBB4OMqJsaafG+U8fWETu9YZ96bNXE+DelCDuMPw==

# Nomba API base URL (use sandbox for testing)
NOMBA_BASE_URL=https://sandbox.nomba.com

# App config
PORT=3000
APP_URL=https://your-app-url.com

# Webhook secret (set this to any random string, register same value on Nomba dashboard)
WEBHOOK_SECRET=your_webhook_secret_here
